@deep: ~'>>>'; // less 语法中可以使用/deep/， 但是谷歌浏览器会有警告； less语法不识别>>>,  解决方案是采用的less的转义(scaping)和变量插值(Variable Interpolation)
.page-apply {
  // margin-top: 50px;
  background-color: #ffffff;
  overflow-y: auto;
  .grid-text {
    line-height: 100px; 
  }
  .white-block {
    margin: 20px;
  }
}
.flex-row {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.apply-type-tips {
  margin-left: 10px;
  font-size: @min-size;
}

.upload-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
  padding-bottom: 20px;
}
.my-upload {
  font-size: 40px;
  line-height: 40px;
}
/*使file透明*/
.upload-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  height: 100%;
  width: 100%;
  font-size: 10000px;
  cursor: pointer;
}

.telecommuting-wrap {
  position: relative;
  top: 0px;
  .tele-title {
    color: #939393;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 10px;
    // line-height: 200px;
    text-align: end;
    width: 100%;
  }
}

.page-apply @{deep} .van-cell {
  line-height: 50px;
}
.page-apply @{deep} .van-cell__title {
  font-size: 23px;
}
.page-apply @{deep} .custom-title {
  color: lightgrey;
}
.apply-wrap {
  overflow-y: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background: #fff;
}
.apply-wrap @{deep} .van-loading {
  top: 200px;
}

